<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mediaplayer"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:label="@string/app_name" android:icon="@drawable/music_career">
        <activity android:name=".FileBrowser"
                  android:label="@string/app_name" android:launchMode="singleTask" android:screenOrientation="portrait">
            
        </activity>
        <activity android:name="AudioBrowser" android:launchMode="singleTask" android:screenOrientation="portrait"></activity>
        <activity android:name="VideoBrowser" android:launchMode="singleTask" android:screenOrientation="portrait"></activity>
        <activity android:name="AudioPlayer" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <service android:name="MediaPlayerService"></service>
        <activity android:name="VideoPlayer" android:launchMode="singleTask" android:screenOrientation="landscape"></activity>
        <activity android:name="Splash">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>